.servicesmain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    padding: 5rem 5rem 5rem 5rem;
}

.service-card {
    padding: 2rem 2rem 2rem 2rem;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    background: #ffefe0;
    -webkit-box-shadow: 1.25rem 1.25rem 1.5rem #8c837b,
        -1.25rem -1.25rem 1.5rem #ffffff;
    box-shadow: 1.25rem 1.25rem 1.5rem #8c837b,
        -1.25rem -1.25rem 1.5rem #ffffff;
}

.service-card img {
    border-radius: 3rem;
}

.service-card:hover img,
.service-card:hover h5 {
    transform: scale(1.2);
    transition: transform 0.25s ease-in-out;
}

.service-card-img {
    height: 12rem;
    width: auto;
}

@media only screen and (max-width:688px) {
    .servicesmain {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}