.login-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quote-div {
    padding: 3rem 3rem 3rem 3rem;
}

.quote {
    font-size: larger;
    font-weight: 800;
    word-wrap: normal;
}

.quote span {
    font-size: medium;
    font-weight: 500;
}

.login-card {
    width: 50%;
    padding: 3rem 3rem 3rem 3rem;
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #D1D8EC;
    -webkit-box-shadow: 12px 12px 27px #b8bed0,
        -12px -12px 27px #eaf2ff;
    box-shadow: 12px 12px 27px #b8bed0,
        -12px -12px 27px #eaf2ff;
}

.gb {
    margin-top: 1rem;
}

@media only screen and (max-width:688px) {
    .login-card {
        width: 20rem;
        margin-left: 1rem;
    }

    .login-page {
        display: flex;
        flex-direction: column;
    }
}