.doc-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.doc-card {
    width: 20rem;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: #D1D8EC;
    -webkit-box-shadow: 12px 12px 27px #b8bed0,
        -12px -12px 27px #eaf2ff;
    box-shadow: 12px 12px 27px #b8bed0,
        -12px -12px 27px #eaf2ff;
}